extends layout

block content
  header
    h1= title
    h3 Welcome to #{title}
  main
    for elem in memes
      div.pos
        div.image
          img(src=elem.url)  
        form(id=elem.id)
          input(type='text' name='message' placeholder='Enter comments' required)
          input(type='submit' id='submit')
        for comment in comments
          if comment.imageId === elem.id
            p=  comment.message
  div.clearfix
