body {
  padding: 10px 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #e67300;
  background-image: url('/images/old_moon.png');
}
header {
  margin: 0;
  background: radial-gradient(#005ce6, #3385ff, #b3b3ff, #d1b3ff, #ffffe5);
  border: 3px outset #0052cc;
  border-radius: 10px 10px 0 0;
}
h1 {
  font-size: 45px;
  color: white;
}
main {
  margin: 0;
  background-color: #e5f0ff;
  border: 3px inset #80b3ff;
  border-radius: 0 0 10px 10px;
}
div {
  margin: 20px 10px;
}
img {
  width: 150px;
  border: 2px outset #A6C5D1;
  margin: 5px 10px;
  transition: .5s 0s;
  -webkit-transition: .5s 0s;
}
img:hover {
  width: 350px;
  border: 4px outset #A6C5D1;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: .5s 0s;
  -webkit-transition: .5s .3s;
}
form {
  padding: 20px 0 0 0;
}
input {
  font-size: 20px;
}
p {
  font-size: 22px;
  margin:0;
  padding: 10px;
}
#submit:hover {
  background-color: #ffbf80;
}
